@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#background {
  position: fixed;
  inset: 0;
  z-index: -10;
  background: no-repeat url("./../img/background.jpg");
  background-size: 2200px;
  animation: slidein 70s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@media (min-width: 1920px) {
  #background {
    background-size: cover;
  }
}
@keyframes backAnim {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes slidein {
  from {
    background-position: top;
  }
  to {
    background-position: -100px 0px;
  }
}
body {
  font-family: "Montserrat";
  font-size: 16px;
  color: var(--text-color);
  min-width: 400px;
}

.container {
  padding: calc(3vw + 8.5px);
}

input,
button {
  background-color: var(--elem-bgc);
  color: inherit;
  border-radius: 12px;
  padding: 10px 12px;
  font-family: inherit;
  font-size: inherit;
  border-radius: 10px;
  outline: 0;
  border: 0;
  transition: 200ms;
}

button {
  cursor: pointer;
}
button:hover {
  background-color: var(--prime-color);
  color: white;
  scale: 1.1;
}
button:active {
  transition: 100ms;
  scale: 0.9;
}

._noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */ /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
             supported by Chrome, Edge, Opera and Firefox */
}

:root {
  --elem-bgc: rgba(255, 255, 255, 0.5);
  --text-color: black;
  --anti-text-color: white;
  --prime-color: rgb(255, 193, 37);
  --prime-transparent: rgba(255, 193, 37, 0.8);
  --img-error: rgba(255, 193, 37, 0.3);
  --delete-color: tomato;
  --transparent-delete: rgba(255, 0, 0, 0.3);
  --passive-color: rgba(211, 211, 211, 0.5);
}

body {
  background-color: var(--elem-bgc);
}

body[data-theme=darkTheme] {
  --elem-bgc: rgba(0, 0, 0, 0.5);
  --bgc: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
  --text-color: white;
  --anti-text-color: black;
}
body[data-theme=darkTheme] .themeIcon svg {
  rotate: 180deg;
}

.themeIcon {
  flex: 0 0 35px;
  cursor: pointer;
  background-color: var(--elem-bgc);
  padding: 5px;
  box-sizing: content-box;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
.themeIcon svg {
  width: 30px;
  height: 30px;
  fill: var(--text-color);
  transition: 300ms;
}
.themeIcon:hover svg {
  fill: var(--prime-color);
}

header {
  position: relative;
  z-index: 100;
  text-align: center;
  padding: 10px;
  padding-left: 15px;
  margin-bottom: 7px;
  background-color: var(--elem-bgc);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
header h1 {
  font-size: calc(1.2vw + 15.4px);
  flex: 0 1 auto;
  color: var(--text-color);
}

.toggleWrapper {
  flex: 1 1 50%;
  position: relative;
  background-color: var(--elem-bgc);
  border-radius: 15px;
  height: 100%;
  scale: 0 1;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 200ms;
}
.toggleWrapper._active {
  scale: 1;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.toggleWrapper input[type=radio] {
  display: none;
}
.toggleWrapper .labelWrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.toggleWrapper .labelWrapper label {
  flex: 1 1 50%;
  cursor: pointer;
  font-size: calc(0.4vw + 10.5px);
  padding: 12px 10px;
}
.toggleWrapper .labelWrapper label._active {
  font-weight: bold;
}

.indicator {
  background-color: var(--prime-transparent);
  position: absolute;
  top: 4px;
  width: 50%;
  height: 83%;
  border-radius: 12px;
  transition: 200ms;
}
.indicator._main {
  left: 5px;
}
.indicator._fav {
  left: 49.6%;
}

.modal {
  background-color: var(--elem-bgc);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  padding: calc(3vw + 8.5px);
  padding-top: 80px;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: 200ms;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal._active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.modal._active .modalContent {
  scale: 1;
}
.modal .modalContent {
  width: 100%;
  background-color: var(--elem-bgc);
  border-radius: 20px;
  padding: 20px;
  transition: 200ms;
  scale: 0.5;
}

.closeBtn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 2px solid var(--prime-color);
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  transition: 200ms;
}
.closeBtn::before {
  content: "+";
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  color: var(--prime-color);
  font-size: 50px;
  line-height: 1;
  rotate: 45deg;
  transition: all 300ms cubic-bezier(0.77, 0, 0.2, 0.85);
}
.closeBtn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: var(--prime-color);
  scale: 0;
  transition: all 300ms cubic-bezier(0.77, 0, 0.2, 0.85);
}
.closeBtn:hover::after {
  scale: 1;
}
.closeBtn:hover::before {
  scale: 0.8;
  color: #fff;
}
.closeBtn:active {
  transform: scale(0.7);
  transition: 100ms;
}

header {
  position: relative;
  z-index: 100;
  text-align: center;
  padding: 10px;
  padding-left: 15px;
  margin-bottom: 7px;
  background-color: var(--elem-bgc);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
header h1 {
  font-size: calc(1.2vw + 15.4px);
  flex: 0 1 auto;
  color: var(--text-color);
}

.toggleWrapper {
  flex: 1 1 50%;
  position: relative;
  background-color: var(--elem-bgc);
  border-radius: 15px;
  height: 100%;
  scale: 0 1;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 200ms;
}
.toggleWrapper._active {
  scale: 1;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.toggleWrapper input[type=radio] {
  display: none;
}
.toggleWrapper .labelWrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.toggleWrapper .labelWrapper label {
  flex: 1 1 50%;
  cursor: pointer;
  font-size: calc(0.4vw + 10.5px);
  padding: 12px 10px;
}
.toggleWrapper .labelWrapper label._active {
  font-weight: bold;
}

.indicator {
  background-color: var(--prime-transparent);
  position: absolute;
  top: 4px;
  width: 50%;
  height: 83%;
  border-radius: 12px;
  transition: 200ms;
}
.indicator._main {
  left: 5px;
}
.indicator._fav {
  left: 49.6%;
}

h4 {
  text-align: center;
  background-color: var(--elem-bgc);
  border-radius: 10px;
  padding: 5px 10px;
}

.loader {
  width: 90%;
  height: 6px;
  display: inline-block;
  background: var(--elem-bgc);
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  display: block;
  margin: 0 auto 7px;
}
.loader._active::after {
  content: "";
  width: 192px;
}
.loader::after {
  content: "";
  width: 0px;
  height: 100%;
  border-radius: 10px;
  background: var(--text-color);
  position: absolute;
  top: 0;
  left: 50%;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
  transition: 200ms;
}

@keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}
.searchBar {
  background-color: var(--elem-bgc);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.searchBar .searchInput {
  flex: 1 0 auto;
}
.searchBar #searchBtn {
  flex: 0 1 auto;
}

.errorInput {
  color: red;
}
.errorInput::-moz-placeholder {
  color: red;
}
.errorInput::placeholder {
  color: red;
}

.targetWrapper {
  position: relative;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-200px);
  transition: 300ms;
}
.targetWrapper._active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0px);
}

.target {
  padding: 20px;
  border-radius: 20px;
  background-color: var(--elem-bgc);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  transition: 300ms;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.target._active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  translate: 0 0;
}

.targetFav {
  translate: -100px 0;
}

.targetMain {
  translate: 100px 0;
}

.app-message {
  color: var(--prime-color);
  text-align: center;
  font-weight: bold;
  width: 100%;
}

.exactResult {
  margin: 0 0 20px;
}

.movieList {
  margin-top: 20px;
  display: none;
  flex-wrap: wrap;
  gap: 10px;
}
.movieList._active {
  display: flex;
}
.movieList .movie {
  flex: 1 0 200px;
  height: 350px;
}
.movieList .movie:only-child {
  max-width: 220px;
}

.count {
  color: var(--prime-color);
}

.movieTitle {
  margin-bottom: 20px;
}

.exactMovie {
  cursor: default;
  width: 100%;
  display: flex;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-radius: 10px;
  overflow: hidden;
}

.movie__controls {
  flex: 0 0 26%;
  position: relative;
}

.movie__poster {
  height: 100%;
  width: 100%;
}
.movie__poster .poster {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  background-color: var(--img-error);
  display: block;
  text-align: center;
  font-weight: bold;
  line-height: 250px;
}

.favBtn-wrapper {
  cursor: pointer;
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;
  width: 24px;
  height: 24px;
  padding: 5px;
  background-color: var(--elem-bgc);
  border-radius: 10px;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: none;
  stroke: var(--text-color);
  stroke-width: 30px;
  transition: 200ms;
}
.favBtn-wrapper .favBtn {
  width: 100%;
  height: 100%;
  overflow: visible;
}
.favBtn-wrapper:hover {
  scale: 1.1;
  fill: var(--prime-color);
  stroke: none;
}
.favBtn-wrapper:active {
  scale: 0.9;
  transition: 100ms;
}
.favBtn-wrapper._active {
  background-color: var(--prime-color);
  scale: 1.1;
  filter: drop-shadow(0 0 10px var(--prime-color));
  stroke: none;
  fill: white;
}
.favBtn-wrapper._active:hover {
  filter: none;
}
.favBtn-wrapper._active:hover .favBtn {
  fill: var(--elem-bgc);
}

@media (max-width: 950px) {
  header {
    gap: 10px;
  }
  .exactMovie {
    flex-direction: column;
  }
  .exactMovie .movie__poster {
    height: 400px;
  }
  .exactMovie .movie__poster .poster {
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.noPoster {
  background-color: var(--transparent-delete);
  height: 100%;
  flex: 0 1 auto;
  padding: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
}

.movie__params {
  flex: 1 1 80%;
  position: static;
  background-color: transparent;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
  text-align: left;
  padding: 20px;
}
.movie__params .movie__parameter {
  display: flex;
  align-items: center;
  border: 0.5px solid var(--passive-color);
  background-color: var(--elem-bgc);
  padding: 5px 10px;
  border-radius: 5px;
  gap: 20px;
}
.movie__params .movie__parameter:not(:last-child) {
  margin-bottom: 10px;
}
.movie__params .movie__parameter span {
  flex: 1 1 50%;
}

.movie {
  cursor: pointer;
  width: 200px;
  height: 300px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: 200ms;
}
.movie:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}
.movie:active {
  box-shadow: none;
  transform: translateY(0px);
  transition: 100ms;
}
.movie__description {
  flex: 0 1 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  text-align: center;
  background-color: var(--elem-bgc);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  font-size: 14px;
}

.primary {
  font-weight: bold;
}/*# sourceMappingURL=main.css.map */