:root {
  --elem-bgc: rgba(255, 255, 255, 0.5);
  --text-color: black;
  --anti-text-color: white;
  --prime-color: rgb(255, 193, 37);
  --prime-transparent: rgba(255, 193, 37, 0.8);
  --img-error: rgba(255, 193, 37, 0.3);
  --delete-color: tomato;
  --transparent-delete: rgba(255, 0, 0, 0.3);
  --passive-color: rgba(211, 211, 211, 0.5);
}

body {
  background-color: var(--elem-bgc);
}

body[data-theme="darkTheme"] {
  --elem-bgc: rgba(0, 0, 0, 0.5);
  --bgc: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
  --text-color: white;
  --anti-text-color: black;

  .themeIcon {
    svg {
      rotate: 180deg;
    }
  }
}

.themeIcon {
  flex: 0 0 35px;
  cursor: pointer;

  background-color: var(--elem-bgc);
  padding: 5px;
  box-sizing: content-box;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  svg {
    width: 30px;
    height: 30px;
    fill: var(--text-color);
    transition: 300ms;
  }

  &:hover {
    svg {
      fill: var(--prime-color);
    }
  }
}
