* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#background {
  position: fixed;
  inset: 0;
  z-index: -1;

  // object-fit: cover;
  background-image: url("https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg");
  background-size: cover;

  -webkit-animation: slidein 80s;
  animation: slidein 80s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

body {
  font-family: "Montserrat";
  font-size: 16px;
  color: var(--text-color);
  // background: var(--bgc);
  // background-size: 200% 200%;
  // animation: backAnim 7s ease infinite;

  // background-image: url("https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg");
  // background-size: cover;

  // -webkit-animation: slidein 100s;
  // animation: slidein 100s;

  // -webkit-animation-fill-mode: forwards;
  // animation-fill-mode: forwards;

  // -webkit-animation-iteration-count: infinite;
  // animation-iteration-count: infinite;

  // -webkit-animation-direction: alternate;
  // animation-direction: alternate;
}

input,
button {
  padding: 10px 12px;
  font-family: inherit;
  font-size: inherit;
  border-radius: 10px;
  outline: 0;
  border: 0;

  transition: 200ms;

 accent-color: var(--prime-color);
}

button {
  cursor: pointer;

  &:hover {
    background-color: var(--prime-color);
    color: white;
  }

  &:active {
    transition: 50ms;
    translate: 0 -3px;
    // scale: 1.1;
  }
}

@keyframes backAnim {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}
