@import "./setup";
@import "./colors";
@import "./header";
@import "./modal";
@import "./header";

h4 {
  text-align: center;
  background-color: var(--elem-bgc);
  border-radius: 10px;
  padding: 5px 10px;
}

.loader {
  width: 90%;
  height: 6px;
  display: inline-block;
  background: var(--elem-bgc);
  overflow: hidden;
  position: relative;
  border-radius: 10px;

  display: block;
  margin: 0 auto 7px;

  &._active {
    &::after {
      content: "";
      width: 192px;
    }
  }

  &::after {
    content: "";
    width: 0px;
    height: 100%;
    border-radius: 10px;
    background: var(--text-color);
    position: absolute;
    top: 0;
    left: 50%;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;

    transition: 200ms;
  }
}

@keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}

.searchBar {
  background-color: var(--elem-bgc);

  margin-bottom: 20px;
  padding: 20px;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .searchInput {
    flex: 1 0 auto;
  }

  #searchBtn {
    flex: 0 1 auto;
  }
}

.errorInput {
  color: red;

  &::placeholder {
    color: red;
  }
}

.targetWrapper {
  position: relative;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-200px);
  transition: 300ms;

  &._active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0px);
  }
}

.target {
  padding: 20px;
  border-radius: 20px;
  background-color: var(--elem-bgc);
  backdrop-filter: blur(3px);
  transition: 300ms;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &._active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;

    translate: 0 0;
  }
}

.targetFav {
  translate: -100px 0;
}

.targetMain {
  translate: 100px 0;
}

.app-message {
  color: var(--prime-color);
  text-align: center;
  font-weight: bold;
  width: 100%;
}

.exactResult {
  margin: 0 0 20px;
}

.movieList {
  margin-top: 20px;

  display: none;
  flex-wrap: wrap;

  gap: 10px;

  &._active {
    display: flex;
  }

  .movie {
    flex: 1 0 200px;
    height: 350px;

    &:only-child {
      max-width: 220px;
    }
  }
}

.count {
  color: var(--prime-color);
}

.movieTitle {
  margin-bottom: 20px;
}

.exactMovie {
  cursor: default;
  width: 100%;
  display: flex;
  backdrop-filter: blur(3px);
  border-radius: 10px;
  overflow: hidden;
}

.movie__controls {
  flex: 0 0 26%;
  position: relative;
}

.movie__poster {
  height: 100%;
  width: 100%;

  .poster {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;

    background-color: var(--img-error);
    display: block;
    text-align: center;
    font-weight: bold;
    line-height: 250px;
  }
}

.favBtn-wrapper {
  cursor: pointer;
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;

  width: 24px;
  height: 24px;

  padding: 5px;
  background-color: var(--elem-bgc);
  border-radius: 10px;
  box-sizing: content-box;

  display: flex;
  justify-content: center;
  align-items: center;

  fill: none;
  stroke: var(--text-color);
  stroke-width: 30px;
  transition: 200ms;

  .favBtn {
    width: 100%;
    height: 100%;
    overflow: visible;
  }

  &:hover {
    scale: 1.1;
    fill: var(--prime-color);
    stroke: none;
  }

  &:active {
    scale: 0.9;
    transition: 100ms;
  }

  &._active {
    background-color: var(--prime-color);
    scale: 1.1;
    filter: drop-shadow(0 0 10px var(--prime-color));

    stroke: none;
    fill: white;

    &:hover {
      filter: none;
      .favBtn {
        fill: var(--elem-bgc);
      }
    }
  }
}

@media (max-width: 950px) {
  header {
    gap: 10px;
  }

  .exactMovie {
    flex-direction: column;

    .movie__poster {
      height: 400px;

      .poster {
        object-fit: contain;
      }
    }
  }
}

.noPoster {
  background-color: var(--transparent-delete);
  height: 100%;

  flex: 0 1 auto;

  padding: 30px;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
}

.movie__params {
  flex: 1 1 80%;

  position: static;
  background-color: transparent;
  backdrop-filter: none;
  text-align: left;

  padding: 20px;

  .movie__parameter {
    display: flex;
    align-items: center;

    border: 0.5px solid var(--passive-color);
    background-color: var(--elem-bgc);
    padding: 5px 10px;
    border-radius: 5px;

    gap: 20px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    span {
      flex: 1 1 50%;
    }
  }
}

.movie {
  cursor: pointer;
  width: 200px;
  height: 300px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;

  transition: 200ms;

  &:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
  }

  &:active {
    box-shadow: none;
    transform: translateY(0px);
    transition: 100ms;
  }

  &__description {
    flex: 0 1 auto;

    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    width: 100%;

    text-align: center;
    background-color: var(--elem-bgc);
    backdrop-filter: blur(3px);
    font-size: 14px;
  }
}

.primary {
  font-weight: bold;
}
